@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="~/lib/font-awesome/js/all.js"></script>
<div id="uploadSection" style="margin: 50px">
    <form method="post" enctype="multipart/form-data">
        <div class="form-row" style="margin:50px">
            <h1 class="display-4" style="margin: auto">Select a transaction report</h1>
        </div>

        <div id="results" style="display:none">
            <h1 id="resultsTitle">Weekly results</h1>
            @*<table class="table" id="resultsTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Week</th>
                        <th scope="col">Total</th>
                        <th scope="col">Last Week</th>
                    </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>
            </table>*@
            <div class="list-group col-md-4" id="summary" style="max-height: 700px; margin-bottom: 10px; overflow: auto; float:left; background: blue">

            </div>
            <div class="list-group col-md-4" id="details1" style="max-height: 700px; margin-bottom: 10px; overflow: auto; float:left; background: green">

            </div>
            <div class="list-group col-md-4" id="details2" style="max-height: 700px; margin-bottom: 10px; overflow: auto; background: red">

            </div>
        </div>

        <div class="form-row progress" id="progressBarContainer" style="width: 300px; display: none">
            <div class="progress-bar" id="progressBar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height:auto"></div>
        </div>

        <div class="alert-danger" id="alertError" style="display: none">
            Error
        </div>

        <div class="form-row" id="uploadButton">
            <label class="btn btn-dark" style="margin: 0 auto">
                <i class="fa fa-cloud-upload"></i> Select report<input type="file" id="file_field" asp-for="Upload" hidden>
            </label>
        </div>

    </form>
</div>


<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $('#file_field').on('change', function (event) {
        event.preventDefault();
        if ($('#file_field').get(0).files.length === 0) {
            return;
        }
        else {
            $.ajax({
                url: '/',
                type: 'POST',
                data: new FormData($('form')[0]),
                cache: false,
                contentType: false,
                processData: false,

                success: function (data) {
                    console.log(data);
                    $('#progressBarContainer').hide();
                    $('#results').show();
                    SetFields(data);
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    $('#alertError').show();
                    $('#alertError').append(msg);
                },
                // Custom XMLHttpRequest
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        // For handling the progress of the upload
                        myXhr.upload.addEventListener('progress', function (e) {
                            if (e.lengthComputable) {
                                var prog = Math.floor(e.loaded / e.total * 100);
                                $('#progressBarContainer').show();
                                $('#progressBar').css('width', prog + '%').attr('aria-valuenow', prog);
                            }
                        }, false);
                    }
                    return myXhr;
                }
            });
        }
    });

    function SetFields(data) {
        var transactions = JSON.parse(data);
        console.log('been before the for');
        transactions.forEach(function (week) {
            console.log(week);
            $('#summary').append('<button type="button" class="list-group-item list-group-item-action">' + 'Week: ' + week.WeekNo + '</button>');
            week.Payments.forEach(function (payment) {
                console.log(payment);
                //$('#details1').append('<button type="button" class="list-group-item list-group-item-action">' + week.TotalSpent + ' RON' + '</button>');
                //$('#details2').append('<button type="button" class="list-group-item list-group-item-action">' + week.TotalSpent + ' RON' + '</button>');
            });
        });
    }
</script>