@page
@model INGSummary.Pages.ReportModel
@{
    ViewData["Title"] = "Report";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Report</h1>
<div class="col-md-10" style="background-color: aqua; margin: 20px">

</div>

